.body {
  background-color: #deba9d;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

html,
body {
  background-color: #deba9d;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.question {
  text-align: center;
  font-size: xx-large;
  color: #480e0e;
  margin-top: 4%;
  margin-bottom: 2%;
}

.list {
  background-color: #f2e1c1;
  border: 10px double #bb8760;
  border-radius: 35px;
  color: #480e0e;
  margin-left: 20%;
  width: 60%;
  text-align: center;
  min-height: 80%;
  font-style: canela;
  padding: 2%;
}

.avatar {
  width: 30%;
  height: 30%;
  text-align: center;
  margin-left: 5%;
  margin-top: 9%;
}

.greetList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.greetEl {
  margin: 15% 5% 0 5%;
  font-size: xx-large;
  text-align: center;
}

.project {
  background-color: #f2e1c1;
  border: 10px double #bb8760;
  border-radius: 35px;
  color: #480e0e;
  margin-left: 15%;
  width: 60%;
  font-size: xx-large;
  text-align: center;
  min-height: 80%;
  font-style: canela;
  padding: 5%;
}

.pplink {
  color: #866246;
}

.cards {
  margin: 2% 15% 2% 15%;
  padding: 1%;
  width: 70%;
}

.card {
  text-align: center;
  background-color: transparent;
  font-size: large;
  border-radius: 10px;
}

.image {
  border-radius: 10px;
  max-height: 40vh;
  width: auto;
}

.title {
  font-size: 40px;
}

@keyframes color-change {
  0% {
    color: #fceadd;
  }
  50% {
    color: rgb(180, 162, 1);
  }
  100% {
    color: #fceadd;
  }
}

/* 


*/
/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 2.5rem;
  width: 90%;
  margin: 4% 10% 3% 10%;
}

.hero img {
  height: 35vh;
  width: 35vh;
}

.bio {
  width: 28rem;
  text-align: center;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
  font-size: 120%;
}
/* Hero section ends */

/* More about */
.more-about {
  background-color: var(--bg-color);
  padding: 1rem 3rem;
  width: 100%;
}

.more-about h1 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
  margin-bottom: 3%;
  margin-top: 5%;
}

.more-about li {
  line-height: var(--line-height);
  padding: 0.4rem;
  font-size: large;
  margin-left: 10%;
}
/* More about ends */

/* Skills section */
.skills {
  max-width: 75%;
  margin-left: 12.5%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
  text-align: center;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: auto;
  margin: 1%;
  height: 11.25rem;
}
/* Skills section ends */

/* cards section start */

.flip-card {
  background-color: transparent;
  width: 39vh;
  height: 39vh;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 1vh;
  border: 10px;
  border-style: inset;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-front {
  background-color: grey;
  color: white;
  display: grid;
  transform: rotateY(180deg);
}

.flipcards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
}

.flip-link {
  text-decoration: none;
  color: white;
  padding: 0.5em 0.5em;
  background: goldenrod;
  cursor: pointer;
}

.flip-link:hover {
  background-color: rgb(96, 96, 96);
  color: white;
}

.flip-card p {
  font-size: 100%;
}
