body{
    margin: 0;
    background-color: #deba9d;
}

.show{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    height: 80%;
    
}

.lefthalf{
    margin-left: 7.5%;
    margin-right:2.5%;
    width: 40%;
    text-align: center;
    background-color: #f2e1c1;
    border: 10px double #bb8760;
    border-radius: 35px;
    color: #480e0e;
    text-align: center;
    min-height: 80%;
    font-style: canela;
}

.righthalf{
    background-color: #f2e1c1;
    border: 10px double #bb8760;
    border-radius: 35px;
    color: #480e0e;
    margin-left:2.5%;
    width: 40%;
    text-align: center;
    min-height: 80%;
    font-style: canela;
}

.question{
    text-align: center;
    font-size: xx-large;
    color: #480e0e;
    margin-top: 10%;
    margin-bottom: 6%
}

.switchButton {
    text-align: center;
    padding: 1%;
    background-color:#a57f01;
    color:white;
    margin-left: 5%;
  }

  .list{
    background-color: #f2e1c1;
    border: 10px double #bb8760;
    border-radius: 35px;
    color: #480e0e;
    margin-left:20%;
    width: 60%;
    text-align: center;
    min-height: 80%;
    font-style: canela;
  }